
<h1>Estructuras de control</h1>
<h1>ngIf</h1>
<p *ngIf="1 < 0">1 es mayor a cero</p>
<p *ngIf="array_cursos.length > 0">Si hay datos</p>
<ul>
  <li *ngFor="let curso of array_cursos">{{curso.nombre}}</li>
</ul>
<h1>ngFor</h1>
<div *ngIf="array_cursos.length === 0">
  <ul>
    <li *ngFor="let curso of array_cursos">{{curso.nombre}}</li>
  </ul>
</div>


<h1>ngIf y else</h1>
<p *ngIf="array_cursos[0].horas_duracion > 3; else bloque_else">El curso {{array_cursos[0].nombre}} tiene mas de 3 horas</p>

<ng-template #bloque_else>
  <p>El curso {{array_cursos[0].nombre}} tiene menos de 3 horas</p>
</ng-template>

<img [src]="ruta_imagen" alt="imagen" class="imagen_estilo">

<hr>
<h1>ngModel</h1>
<input type="text" [value]="array_cursos[0].nombre" (keyup)="cambiar_curso_nombre($event)">
<br>
<input type="text" [(ngModel)]="array_cursos[1].nombre" required #nombre_curso_input="ngModel">
<p>Valido Nombre: {{nombre_curso_input.valid}}</p>
<input type="number" [(ngModel)]="array_cursos[0].horas_duracion" required #horas_curso_input="ngModel">
<p>Valido Horas: {{nombre_curso_input.valid}}</p>
<hr>
<h1>HTMLInputElement</h1>
<h3>{{dato_input}}</h3>
<input type="text" id="input" required>
<button (click)="mostrar_dato_input()">Enviar</button>

